pipeline/GoogleDV360Pipeline.json
{
	"name": "GoogleDV360Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Bearer Token",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Cleanup Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GetGoogleDCMReportingAPIBearerToken",
					"method": "POST",
					"body": {
						"from": "Pipeline"
					}
				},
				"linkedServiceName": {
					"referenceName": "GoogleDV360Function",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Generate Report",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Bearer Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "",
						"additionalHeaders": {
							"Authorization": {
								"value": "@activity('Get Bearer Token').output.AccessTokenValue",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Delete from GoogleDV360ReportFile",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['id']"
								},
								"sink": {
									"name": "FileId",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['lastModifiedTime']"
								},
								"sink": {
									"name": "GeneratedTimeStamp",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['fileName']"
								},
								"sink": {
									"name": "FileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['dateRange']['startDate']"
								},
								"sink": {
									"name": "StartDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['dateRange']['endDate']"
								},
								"sink": {
									"name": "EndDate",
									"type": "String"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "GoogleDV360API",
						"type": "DatasetReference",
						"parameters": {
							"Url": {
								"value": "@replace(replace(variables('ReportGenerationUrl'),'ProfileIdPlaceholder',variables('ProfileId')),'ReportIdPlaceholder',variables('ReportId'))",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "GoogleDV360ReportFile",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Report FileId",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Generate Report",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select CAST(FileId as varchar) as FileId from GoogleDV360ReportFile",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GoogleDV360ReportFile",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Report File",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Report FileId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@replace(replace(variables('FileDownloadUrl'),'ProfileIdPlaceholder',variables('ProfileId')),'FileIdPlaceholder',activity('Get Report FileId').output.firstRow.FileId)",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@activity('Get Bearer Token').output.AccessTokenValue",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Save Report File",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Get Report File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "SaveDV360Report",
					"method": "POST",
					"body": {
						"value": "@activity('Get Report File').output.Response",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "SaveDV360ReportFunction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ingest into GoogleDV360CampaignStage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Save Report File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Delete from GoogleDV360CampaignStage",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Campaign",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CampaignName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Campaign ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CampaignId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Creative",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Creative",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Date",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Impressions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Impressions",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Clicks",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Clicks",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Click Rate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ClickRate",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Total Conversions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TotalConversions",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Click-through Conversions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ClickThroughConversions",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Remarketing : TFO - tfoco.com - Detail Submit: Total Conversions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TfocoComDetailSubmitTotalConversions",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Remarketing : TFO - new tfoco.com - Global Tag: Total Conversions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NewTfocoComGlobalTagTotalConversions",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Remarketing : TFO - new tfoco.com - Homepage - Visit: Total Conversions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NewTfocoComHomePageVisitTotalConversions",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Remarketing : TFO - new tfoco.com - Investment Planner - Visit: Total Conversions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NewTfocoComInvestmentPlannerVisitTotalConversions",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Remarketing : TFO - new tfoco.com - Portfolio Planner - Visit: Total Conversions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NewTfocoComPortfolioPlannerVisitTotalConversions",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Remarketing : TFO - new tfoco.com - Webinar signup: Total Conversions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NewTfocoComWebinarSignupTotalConversions",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Remarketing : TFO - new tfoco.com - Detail Submit: Total Conversions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NewTfocoComDetailSubmitTotalConversions",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Remarketing : TFO - tfoco.com - Homepage - Visit: Total Conversions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TfocoComHomePageVisitTotalConversions",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Remarketing : TFO - tfoco.com - Wealth Planning - Visit: Total Conversions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TfocoComWealthPlanningTotalConversions",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Remarketing : TFO - tfoco.com - Who We Are - Visit: Total Conversions\r",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TfocoComWhoWeAreTotalConversions",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DV360CampaignCSV",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "GoogleDV360CampaignStage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Ingest into GoogleDV360Campaign",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Ingest into GoogleDV360CampaignStage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DV360CampaignDataFlow",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "HighPerformanceIR",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Cleanup Tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spCleanUpGoogleDV360CampaignTables]"
				},
				"linkedServiceName": {
					"referenceName": "DashboardDb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ingest into ProdGoogleDV360Campaign",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Ingest into GoogleDV360Campaign",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Delete from prod.GoogleDV360Campaign",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CampaignId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CampaignId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CampaignName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CampaignName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Creative",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Creative",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "Date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Impressions",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Impressions",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Clicks",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Clicks",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "ClickRate",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "ClickRate",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "TotalConversions",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "TotalConversions",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "ClickThroughConversions",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "ClickThroughConversions",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "TfocoComDetailSubmitTotalConversions",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "TfocoComDetailSubmitTotalConversions",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "NewTfocoComGlobalTagTotalConversions",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "NewTfocoComGlobalTagTotalConversions",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "NewTfocoComHomePageVisitTotalConversions",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "NewTfocoComHomePageVisitTotalConversions",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "NewTfocoComInvestmentPlannerVisitTotalConversions",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "NewTfocoComInvestmentPlannerVisitTotalConversions",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "NewTfocoComPortfolioPlannerVisitTotalConversions",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "NewTfocoComPortfolioPlannerVisitTotalConversions",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "NewTfocoComWebinarSignupTotalConversions",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "NewTfocoComWebinarSignupTotalConversions",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "NewTfocoComDetailSubmitTotalConversions",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "NewTfocoComDetailSubmitTotalConversions",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "TfocoComHomePageVisitTotalConversions",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "TfocoComHomePageVisitTotalConversions",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "TfocoComWealthPlanningTotalConversions",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "TfocoComWealthPlanningTotalConversions",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "TfocoComWhoWeAreTotalConversions",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "TfocoComWhoWeAreTotalConversions",
									"type": "Double",
									"physicalType": "float"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "GoogleDV360Campaign",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ProdGoogleDV360Campaign",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"ProfileId": {
				"type": "String",
				"defaultValue": "6035039"
			},
			"ReportId": {
				"type": "String",
				"defaultValue": "735756341"
			},
			"ReportGenerationUrl": {
				"type": "String",
				"defaultValue": "https://www.googleapis.com/dfareporting/v3.4/userprofiles/ProfileIdPlaceholder/reports/ReportIdPlaceholder/run"
			},
			"FileDownloadUrl": {
				"type": "String",
				"defaultValue": "https://www.googleapis.com/dfareporting/v3.4/reports/ProfileIdPlaceholder/files/FileIdPlaceholder?alt=media"
			}
		},
		"folder": {
			"name": "DV360"
		},
		"annotations": [],
		"lastPublishTime": "2020-11-11T05:10:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}