pipeline/nseMkt.json
{
	"name": "nseMkt",
	"properties": {
		"activities": [
			{
				"name": "mktTrig",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "mktHttpTrig",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "mktTrigFunc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sftp to blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "fileNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('CM30/DATA/',formatDateTime(utcnow(),'MMMMddyyyy'))",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@concat(activity('mktTrig').output.fileNo,'.mkt.gz')",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "sftpBinary",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sftpbinBlob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "fileNo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "mktTrig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileNo",
					"value": {
						"value": "@activity('mktTrig').output.fileNo",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"fileNo": {
				"type": "String",
				"defaultValue": "1"
			}
		},
		"annotations": []
	}
}